@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');


nav {width: 100%; height: 60px; border-bottom: 1px solid #ddd;}
nav .nav_inner {margin: 0 auto; width: 100%; max-width: 1200px; height: 100%; display: flex; justify-content: space-between; align-items: center;}
nav .nav_inner h2 a {font-family: "Poetsen One", sans-serif; font-size: 24px; font-weight: 400; font-style: normal;}
nav .nav_inner .nav_right ul {display: flex; gap: 20px;}
nav .nav_inner .nav_right ul li a {font-size: 15px; color: #333;}

.cafe_main {margin: 0 auto; width: 100%;}
.cafe_main .top p {font-size: 32px; font-weight: 600; line-height: 140px; text-align: center; background-color: #ffeabd;}  
.cafe_main .content {margin: 0px auto 0;  width: 100%; max-width: 1200px; min-height: calc(100vh - 201px);  display: flex; }
.cafe_main .content .aside {padding: 40px 0 0 0; width: 200px; border-right:1px solid rgba(0,0,0,0.06)}
.cafe_main .content .aside ul.aside_main_nav {padding-bottom: 20px; position: relative;}
.cafe_main .content .aside ul.aside_main_nav:after {content: ""; width: 80%; height: 1px; display: inline-block; position: absolute; left: 0; bottom: 20px;  background-color: rgba(0,0,0,0.06)}
.cafe_main .content .aside ul.aside_main_nav li {margin-bottom: 20px; }
.cafe_main .content .aside ul.aside_main_nav li a {display: block; font-size: 18px; letter-spacing: -0.03em;}
.cafe_main .content .aside ul.aside_main_nav li a:hover {text-decoration: underline;}
.cafe_main .content .aside ul.aside_sub_nav li {margin-bottom: 15px;}
.cafe_main .content .aside ul.aside_sub_nav li a {font-size: 15px; letter-spacing: -0.03em; }
.cafe_main .content .aside ul.aside_sub_nav li a:hover {text-decoration: underline;}


.cafe_main .content .list {padding:40px 0 60px 40px;}
.cafe_main .content .list .cafe_title {margin-bottom: 40px; font-size: 18px; font-weight: 600;}
.cafe_main .content .list ul.post_list li {padding: 15px 0; border-bottom: 1px solid rgba(0, 0, 0, 0.1);}
.cafe_main .content .list ul.post_list li .post_title {margin-bottom: 15px; display: block; font-size: 18px; font-weight: 400; color: #333;}
.cafe_main .content .list ul.post_list li .info {display: flex; gap: 10px;}
.cafe_main .content .list ul.post_list li .info span {font-size: 15px; color: #aaa;}


.cafe_main .content .pagination {margin: 50px auto 0; width: 100%; max-width: 600px; display: flex; justify-content: center; }
.cafe_main .content .pagination .btn_paging {}
.cafe_main .content .pagination .page_wrap {display: flex; gap: 8px;}
.cafe_main .content .pagination .page_wrap button {cursor: pointer;}
.cafe_main .content .pagination .page_wrap button.on {font-weight: 700;}

.list {width: 100%;}

